*::-webkit-scrollbar {
  display: block;
  width: 4px;
}

*::-webkit-scrollbar-button {
  display: none;
}

*::-webkit-scrollbar-track {
  display: none;
}

*::-webkit-scrollbar-track-piece {
  display: none;
}

*::-webkit-scrollbar-thumb {
  /* This is fallback colour, actual colour added using MUI createTheme */
  background-color: #00000040;
  border-radius: 24px;
}

* {
  scrollbar-width: thin;
}
