.video-chat-root {
  height: 100%;
  border: 4px solid;
}

.video-chat-root .grid-contanier {
  height: 100%;
}

.video-chat-root .grid-contanier .right-section .text-chat {
  border-bottom-width: 4px;
  border-bottom-style: solid;
}

.video-player-root {
  max-height: 100%;
  display: flex;
}

.video-player-root .video-main {
  display: flex;
  max-height: 100%;
  align-items: center;
  justify-content: center;
}

.video-main video {
  max-height: 100%;
}

.local-video {
  height: calc(50% - 4px);
}

.remote-video, .local-video {
  position: relative;
}

.remote-video .video-player-root .video-main video.video-blur {
  filter: blur(30px);
  transition: filter 500ms;
}

.remote-video .video-player-root .video-main video.video-no-blur {
  filter: blur(0px);
  transition: filter 500ms;
}

.remote-video .video-player-root .video-main {
  overflow: hidden;
}

.video-player-root .video-top {
  position: absolute;
  top: 4px;
  right: 4px;
  border-radius: 24px;
}

.video-player-root .video-top.right-hover {
  border-bottom-right-radius: 0;
}

.video-player-root .video-controls {
  width: 100%;
  height: 100%;
  border-radius: inherit;
  box-shadow: 1px 1px 3px black, inset 1px 1px 3px white;
}
